{% load static %}

{% include '../header.html' %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}">


<div class="todo-wrapper">
    <h1>Добавить задачу</h1>

    <form action="{% url 'create_todo' %}" method="post" class="todo-form">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-buttons">
            <button type="submit" class="btn btn-submit">Добавить задачу</button>
            <button type="reset" class="btn btn-reset">Очистить форму</button>
        </div>
    </form>
</div>


{% include '../footer.html' %}